<%- include("partials/header"); -%>

    <p class="underconstruction"> Error 404 </p>
    <p class="tagline" style="text-align: center;">Page Not Found</p>
    <div style="text-align: center; margin-top: 4%;">
        <a href="/"><button class="btn btn-outline-success" style="font-size: larger;">Back to Homepage</button></a>
    </div>

<%- include("partials/footer"); -%>