<%- include("partials/header"); -%>

    <div class="container">
        <h1>About</h1>
        <div class="row">
            <div class="col">
                <div class="mt-5">
                    <p> Fairgreen was born with the purpose to bring back life into Estonian soil, and provide, at the same time, healthy food for humans. </p>
                </div>
            </div>
            <div class="col">
            Second Column
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>
