<%- include("partials/header"); -%>

    <div class="container">
        <h1>Contact</h1>
        <div class="row">
            <div class="col">
                <div class="mt-5">
                    <p> You want to reach out to us and chat a bit about life, trees, carrots or turnips? Please, write us a message just here → </p>
                </div>
            </div>
            <div class="col">
            Second Column
            </div>
        </div>
    </div>

   

<%- include("partials/footer"); -%>
