
<%- include("partials/header"); -%>
    <h1>Fairgreen Estonia</h1>
    <p class="tagline">Fresh, Local and Chemical-Free Vegetables</p>
    <p> <%= startingContent %> </p>





<%- include("partials/footer"); -%>
