
<%- include("partials/header"); -%>
<div class="container centered">
    <h1>Fairgreen Estonia</h1>
    <p class="tagline">Sustainable and Regenerative Agriculture</p>
    <p>All crops and animals do not do drugs. Fossile-free farming.</p>
    <p class="underconstruction"> Site under construction </p>
</div>
    

<%- include("partials/footer"); -%>
