html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #f5e8d1;
}
h1 {
font-family: 'Lato', serif;
font-weight: 700;
font-size: 4em;
color: #035036;
}
.tagline {
  color: #f17339;
  font-weight: 800;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
}
h2 {
  font-family: 'PT Sans', sans-serif;
}
.underconstruction {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  color:#2b7c51;
  text-align: center;
  margin:10% 0;
}
.logo {
  margin-right: 5%;
}
.navbar {
    padding:15px 5%;
    border: 0;
    border-radius: 0;
    margin-bottom: 5%;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: rgb(3, 80, 54);
}
.navbar a:active, .navbar a:focus, .navbar li:focus, .navbar li:active {
  background-color: transparent;
}
.navbar-brand {
  color: rgb(245, 232, 209);
  font-family: 'Lato', sans-serif;
}
.navbar-brand:hover {
  color: #2b7c51 !important;
}
.nav-item {
  margin-left:2%;
}
.nav-link {
  color: rgb(245, 232, 209);
  font-family: 'PT Sans', sans-serif;
  font-size: medium;
}
.navbar-nav  li a:hover {
    color: #f17339 !important;
}
input.form-control.me-2:focus{
  border-color: #2b7c51;
  box-shadow: 0 0 0 0.25rem #2b7c51;
}
.searchbutton{
  padding: 0;
  width: 50px;
}
.searchicon{
  filter: invert(43%) sepia(30%) saturate(774%) hue-rotate(102deg) brightness(91%) contrast(90%);
  padding: 10%;
}
.searchicon:hover{
  filter: invert(97%) sepia(8%) saturate(844%) hue-rotate(327deg) brightness(98%) contrast(96%);
}
.footer-padding {
	padding-bottom: 60px;
}
.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:rgb(3, 80, 54);
}
.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: rgb(245, 232, 209);
}

.centered{
  text-align: center;
}
